<!doctype HTML>
<HTML>
<Head>
    <link rel="stylesheet" type="text/css" href="css\layout.css"
          medial="all" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</Head>

<body>
<div id="menu">
    <div id="wrap">

        <header>

            <div class="inner relative">

                <a class="logo" href="#"><img src="images\logoco.png" width="70px" height="50px" alt="Comfortable"></a>

                <a id="menu-toggle" class="button dark" href="#"><i class="icon-reorder"></i></a>

                <nav id="navigation">

                    <ul id="main-menu">

                        <li class="current-menu-item"><a href="#">Home</a></li>

                        <li class="parent">

                            <a href="#">Bài Hát</a>

                            <ul class="sub-menu">

                                <li><a href="#"><i class="icon-wrench"></i> Châu Á</a></li>

                                <li><a href="#"><i class="icon-credit-card"></i> Châu Âu</a></li>



                                <li>

                                    <ul class="sub-menu">

                                        <li><a href="#">Full Width</a></li>

                                        <li><a href="#">Left Sidebar</a></li>



                                    </ul>

                                </li>

                            </ul>

                        </li>

                        <li><a href="#">Playlist</a></li>


                        <li class="parent">

                            <a href="#">Chủ Đề</a>


                            <ul class="sub-menu">

                                <li><a href="#">Large Image</a></li>

                                <li><a href="#">Medium Image</a></li>

                                <li><a href="#">Masonry</a></li>



                            </ul>

                        </li>

                        <li><a href="#"><img src="images\if_Login_73221.png" width="25px" height="25px"> </a>

                            <ul class="sub-menu">

                                <li><button type="button" class="btn btn-dark" onclick="document.getElementById('id01').style.display='block'" >Đăng nhập</button></li>

                                <li><button type="button" class="btn btn-dark" onclick="document.getElementById('id02').style.display='block'"><i class="icon-credit-card"></i>Đăng ký</button></li>

                            </ul>
                        </li>
                        <li><a href="..\Web\upload.html"><img src="images\up.png" width="25px" height="25px"> </a></li>
                        <li>
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="Search">
                                <div class="input-group-append">
                                    <button class="btn btn-success"  style="height:40px;margin-top:5px;" type="submit">Go</button>
                                </div>
                            </div>	</li>

                    </ul>

                </nav>

                <div class="clear"></div>

            </div>

        </header>
    </div>

</div>


<div id="nav">
    <div id="navleft">
        <div class="slideshow-container1">
            <div class="mySlides1 fade1">
                <img src="images\1.jpg" style="width:800px;margin-left:50px;margin-right:50px;">

            </div>

            <div class="mySlides1 fade1">
                <img src="images\2.jpg " style="width:800px;margin-left:50px;margin-right:50px;">

            </div>
            <div class="mySlides1 fade1">
                <img src="images\3.jpg" style="width:800px;margin-left:50px;margin-right:50px;">

            </div>
            <div class="mySlides1 fade1">
                <img src="images\4.jpg" style="width:800px;margin-left:50px;margin-right:50px;">

            </div>
            <div class="mySlides1 fade1">
                <img src="images\5.jpg" style="width:800px;margin-left:50px;margin-right:50px;">

            </div>

        </div>
        <br>

        <div style="text-align:center">
            <span class="dot1" onclick="currentSlide(0)"></span>
            <span class="dot1" onclick="currentSlide(1)"></span>
            <span class="dot1" onclick="currentSlide(2)"></span>
            <span class="dot1" onclick="currentSlide(3)"></span>
            <span class="dot1" onclick="currentSlide(4)"></span>
        </div>
        <div >
            <div class="btn-group btn-group-sm" style="margin-left:700px;">
                <button type="button" class="btn btn-success">Hot Nhất</button>
                <button type="button" class="btn btn-success">Mới Nhất</button>

            </div>
        </div>

    </div>

    <div id="navright">
        <h2><a href="#" >CHỦ ĐỀ HOT></a></h2>
        <img src="images\6.jpg"  height="130px" width="250px" >
        <hr/>
        <img src="images\7.jpg"  height="130px" width="250px" >
        <hr/>
        <img src="images\8.jpg"  height="130px" width="250px" ><hr/>
        <h4>BXH PLAY LIST &nbsp;&nbsp;&nbsp;<img src="images\12.png"  height="30px" width="30px" ></h4>
        <div class="btn-group btn-group-sm">
            <button type="button" class="btn btn-primary">Việt Nam</button>
            <button type="button" class="btn btn-primary">Âu Mỹ</button>
            <button type="button" class="btn btn-primary">Hàn Quốc</button>
        </div><br/><br/>
        <div style="margin-bottom:100px;">
            <img src="images\1.jpg" style="width:70px;height:60px;float:left;"/>
            <div style="float:left;"><span>Sơn Tung MTP</span><br/>

                <span>Cơn Mưa Ngang Qua</span>
            </div>


        </div>
        <hr/>
        <div style="margin-bottom:100px;">
            <img src="images\1.jpg" style="width:70px;height:60px;float:left;"/>
            <div style="float:left;"><span>Sơn Tung MTP</span><br/>

                <span>Cơn Mưa Ngang Qua</span>
            </div>


        </div>


    </div>
    <script>

        showSlides(slideIndex = 0);
        var slideIndex;
        // KHai bào hàm hiển thị slide
        function showSlides() {
            var i;
            var slides = document.getElementsByClassName("mySlides1");
            var dots = document.getElementsByClassName("dot1	");
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }

            slides[slideIndex].style.display = "block";
            dots[slideIndex].className += " active";
            //chuyển đến slide tiếp theo
            slideIndex++;
            //nếu đang ở slide cuối cùng thì chuyển về slide đầu
            if (slideIndex > slides.length - 1) {
                slideIndex = 0
            }
            //tự động chuyển đổi slide sau 5s
            setTimeout(showSlides, 5000);
        }
        //mặc định hiển thị slide đầu tiên



        function currentSlide(n) {
            showSlides(slideIndex = n);
        }


    </script>
    <div id="id01" class="modal">

        <form class="modal-content animate" action="/action_page.php">

            <div class="imgcontainer">
                <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>

            </div>
            <div class="container">
                <label for="uname"><b>Username</b></label>


                <input type="text"  placeholder="Enter Username" name="uname" required>

                <label for="psw"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="psw" required>

                <button type="submit" class="buttonload"> <i class="fa fa-spinner fa-spin"></i>Login</button>
                <label>
                    <input type="checkbox" checked="checked" name="remember"> Remember me
                </label>
            </div>

            <div class="container" style="background-color:#f1f1f1">
                <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
                <span class="psw">Forgot <a href="#">password?</a></span>
            </div>
        </form>
    </div>
    <div  id="id02" class="modal1">
        <form action="/action_page.php" class="modal-content1 animate">
            <div class="imgcontainer">
                <span onclick="document.getElementById('id02').style.display='none'" class="close" title="Close Modal">&times;</span>

            </div>
            <div class="container1">
                <h1>Đăng ký thành viên</h1>
                <p>Vui lòng điền đủ  thông tin vào form đăng ký thành viên.</p>
                <hr>

                <label for="email"><b>Email</b></label>
                <input type="text" placeholder="Enter Email" name="email" required>
                <label for="tenname"><b>Tên tài khoản</b></label>
                <input type="password" placeholder="Enter Password" name="tenname" required>
                <label for="psw"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="psw" required>

                <label for="psw-repeat"><b>Repeat Password</b></label>
                <input type="password" placeholder="Repeat Password" name="psw-repeat" required>
                <hr>
                <p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>

                <button type="submit" class="registerbtn">Register</button>
            </div>


        </form>


    </div>

    <script>
        // Get the modal
        var modal = document.getElementById('id01');

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>
</div>




<div id="footer">
    <div id="thongtin">
        <h4>Đơn vị chủ quản: Công ty Cổ phần Four-leaf Clover</h4>
        Chủ sở hữu website: Tea </br>
        Địa chỉ: Tòa nhà HAGL Safomec, 7/1 Thành Thái, P14, Q10, TP.HCM </br>
        <hr  width="100%" size="1px" align="center" />
        Email: support@nct.vn - Tel: (028) 3868 7979</br>
        Giấy phép MXH số 499/GP-BTTTT do Bộ Thông Tin và Truyền thông cấp ngày 28/09/2015</br>
        Giấy Chứng nhận Đăng ký Kinh doanh số 0305535715 do Sở kế hoạch và Đầu tư thành phố Hồ Chí Minh cấp ngày 01/03/2008</p>
    </div>
</div>
</body>
</HTML>